.navbar{
	padding:0rem 1rem;
}

.navbar-dark .navbar-nav .nav-link{
	color:#FFFFFF;

}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0rem;
}

.errorSummary, .errorMessage{
	color:#FF0000;
}


.form-control-sm[readonly]
{
	background-color:#e9ecef;
	opacity:1
}

.footer {
  background-color: #212529;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  margin-top: 20px;
}
.navbar-brand{
  margin: 16px;
}
.nav-link{
      margin-bottom: -14px;
}